.well {
  text-align: center;
}

button {
  margin: 5px;
}

#winner-well {
  display: none;
}

.marker {
  max-width: 125px;
  display: block;
  margin: auto;
}

#player-one-marker, #player-two-marker, #dice-one, #dice-two, #dice-three, #dice-four, #dice-five, #dice-six  {
  display: none;
}

.dice-pics {
  max-width: 100px;

}
